$white: #fff;
$custom-color: #399940;


$carousel-indicator-active-bg:  $white;
$carousel-caption-color:        $white;
$carousel-control-color:        $white;

@import '/node_modules/bootstrap/dist/css/bootstrap.min.css';

